include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include README.rst

include docs/Makefile
recursive-include docs *.rst
recursive-include docs *.py
recursive-include tests *

recursive-include siteajax/locale *
recursive-include siteajax/tests *
recursive-include siteajax/migrations *.py
recursive-include siteajax/templates *.html
recursive-include siteajax/templates *.js
recursive-include siteajax/templatetags *.py
recursive-include siteajax/management *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * empty

